/* @media screen and (min-width: 1px) and (max-width: 767px){
    #grid-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:768px) and (max-width: 991px){
    #grid-container {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width:992px) and (max-width: 9999px){
    #grid-container {
        grid-template-columns: 1fr;
    }
} */