.stud-card {
    width: 100%;
    background-color: #ababe6 !important;
    font: 16px/100% Ebrima !important;
    min-width: 230px;
    display: inline-block;
    margin: 6px;
    text-align: center;
}

.stud-card:hover {
    background-color: #9292e2 !important;
}

.edit-btn, .delete-btn {
    color: #555555;
    cursor: pointer;
    font-size: 16px;
}

.delete-btn:hover, .edit-btn:hover {
    color: #0f0f0f;
}

.close-btn {
    top: 0;
    font-size: 20px;
    cursor: pointer;
}

.card .view-details-link:hover {
    color: white;
}

.view-details-link {
    width: 100px;
    text-align: center;
    margin: auto;
}

@media screen and (min-width: 1px) and (max-width: 767px){
    .stud-card {
        min-width: 350px;
    }
}