.card {
    background-color: #ababe6 !important;
    border: 0;
    font: 16px/150% Ebrima !important;
}

.card:hover {
    background-color: #b5b5ec !important;

}

.edit-btn, .delete-btn {
    color: #555555;
    cursor: pointer;
    font-size: 20px;
}

.delete-btn:hover, .edit-btn:hover {
    color: #0f0f0f;
}

.close-btn {
    top: 0;
    font-size: 25px;
    cursor: pointer;
}

.card .view-details-link:hover {
    color: white;
}

.view-details-link {
    width: 120px;
    margin: auto;
}