/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    height: 100%;
    font-family: 'Numans', sans-serif, Courier, "Courier New", "Palatino Linotype","Franklin Gothic Medium";
    background-color: rgb(214, 220, 238);
}

.login-container{
    height: 100%;
    top: 100px;
}

.login-card{
    height: 370px;
    margin-top: 100px;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(113, 114, 196, 0.5) !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #292b2c !important;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
    color: #464646 !important;
}

.card-header h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: rgba(255, 196, 18, 0.911);
    color: black;
}

input:focus{
    outline: 0 !important;
    box-shadow: 0 0 0 0 !important;
    border:0 !important;
}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    /*background-color: #FFC312;*/
    width: 100px;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}